{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia grp_tags %}

{% block title %}{% trans "Výstupy" %}{{ block.super }}{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% admin_media_prefix %}js/grappelli/jquery.grp_inline.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
            });
        })(django.jQuery);
    </script>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <div id="breadcrumbs">
         <a href="../">{% trans "Home" %}</a> &rsaquo;
         <a href=".">{% trans "Výkazy" %}</a>
    </div>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="container-flexible" id="tabs">
        <h1>{% trans "Výkazy" %}</h1>
        <ul>
            {% for tab, form in tabs %}
            <li><a href="#tabs-{{ forloop.counter }}">{{ tab.get_title }}</a></li> 
            {% endfor %}
        </ul>
        <div class="form-container">
            {% for tab, form in tabs %}
            <div id="tabs-{{ forloop.counter }}">
                <form method="POST" action="{{ tab.get_absolute_url }}">
                    <fieldset class="module">
                        <div class="row cells cells-1"><div class="cell">
                            {% autoescape off %}
                            {{ tab.get_description }}
                            {% endautoescape %}
                        </div></div>
                        {% include "form_snippet.html" %}
                        <div class="row cells cells-2 submit-right"><div class="cell">
                            <a onclick="django.jQuery(this).closest('form').submit();" class="cbutton">Zobrazit výkaz</a>
                        </div></div>
                    </fieldset>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script type="text/javascript">
        django.jQuery(document).ready(function () {
            django.jQuery('#tabs').tabs(); 
        });
    </script>
{% endblock %}
