<form method="POST" action="{{ tab.get_absolute_url }}" target="_blank">
    <fieldset class="module">
        {% block description %}
            <div class="row cells cells-1"><div class="cell">
                {% autoescape off %}
                {{ tab.get_description }}
                {% endautoescape %}
            </div></div>
        {% endblock %}
        {% block form_body %}
            {% include "form_snippet.html" %}
        {% endblock %}
        {% block submit_row %}
        <div class="row cells cells-2 submit-right"><div class="cell">
            {% block submit_buttons %}
                <a onclick="grp.jQuery(this).closest('form').submit();" class="cbutton">Zobrazit výstup</a>
            {% endblock %}
        </div></div>
        {% endblock %}
    </fieldset>
</form>
