*.py[co]
*~
/*.egg
/*.egg-info
/.project
/.pydevproject
/.settings
.venv
.env
boris/settings/local.py
test_boris/settings/local.py
boris.db
.coverage
*sublime*
.ropeproject
.idea
.vscode
.DS_Store
boris/media/
static
