{% load i18n services %}

<div id="service-interface">
<fieldset class="module">
    <h2>{% trans "Nový výkon" %}</h2>
    
    <div class="row" id="savemessage" style="display: none;">
        <ul class="messagelist">
            <li class="success">Výkon byl uložen.</li>
        </ul>
    </div>
    
    <div class="row" id="deletemessage" style="display: none;">
        <ul class="messagelist">
            <li class="warning">Výkon byl smazán.</li>
        </ul>
    </div>
    
    <div class="row cells-2 cells">
        <div class="cell">
            <div class="column span-4"><label>{% trans "Zvolte druh výkonu:" %}</label></div>
            <div class="column span-flexible">
                <select id="service-selector">
                    {% for s in service_list %}
                        {% render_service_option s encounter %}
                    {% endfor %}
                </select>
                <a class="cbutton" onclick="ui.loadForm(); return false;" style="margin-left: 20px;">{% trans "OK" %}</a>
            </div>
        </div>
    </div>
    <div id="service-form-wrap"></div>
</fieldset>


<div class="group tabular">
    <h2>{% trans "Provedené výkony" %}</h2>
    <div class="table module dynamic-form">
        <div class="module thead dynamic-form">
            <div class="tr">
                <div class="th">{% trans "Název" %}</div>
                <div class="th">{% trans "Akce" %}</div>
            </div>
        </div>
        <div class="module tbody dynamic-form" id="done-services">
            
        </div>
    </div>
</div>
</div>
<script>
    var $ = django.jQuery;
    var jQuery = django.jQuery;
    var ui = null;
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/tipsy.css" />
<script src="{{ STATIC_URL }}js/jquery.tipsy.js" type="text/javascript"></script>
<script type="text/javascript">
    function ServiceUI(encounterId) {
        this.encounterId = encounterId;
        
        this.getServiceClass = function () {
            return $('#service-selector').val();
        }
        
        this.getForm = function () {
            return $('#service-form');
        }
        
        this.refreshServiceList = function () {
           $('#done-services').load('{% url services_list encounter.pk %}'); 
        };
        
        this.getHandlerUrl = function (serviceId, serviceClass) {
            if (! serviceClass)
                serviceClass = this.getServiceClass();
            
            var url = '/services/handle-form/' + this.encounterId + '/' + serviceClass + '/';
            if (serviceId)
                return url + serviceId + '/';
            return url; 
        }
        
        this.placeForm = function (html) {
        	$('#service-form-wrap').html(html);
            
            if (html != '') {
                var allFields = $('#service-form-wrap').find('select,input');
                var visibleFields = $('#service-form-wrap').find('select:visible,input:visible');
                
                if (visibleFields.length == 0 && allFields.length != 0) {
                    ui.saveForm();
                } else {
                    grappelli.initDateAndTimePicker();
                    $('#service-form-wrap h3 span').tipsy({gravity: 'w', html: true});
                }
            }
        }
        
        this.loadForm = function (serviceId, serviceClass) {
            $.get(this.getHandlerUrl(serviceId, serviceClass), this.placeForm);
        }
        
        this.cleanForm = function () { this.placeForm(''); }
        
        this.saveForm = function () {
            var data = this.getForm().find('select,input').serialize();
            $.post(this.getForm().attr('class'), data, function (response) {
                if (response.ok) {
                    ui.showSaveMessage();
                    ui.cleanForm();
                    ui.refreshServiceList();
                } else {
                    ui.placeForm(response.content);                
                }
                
            }, 'json');
            
            return false;
        }
        
        this.showDelMessage = function () {
            $('#deletemessage').show();
            setTimeout("ui.hideDelMessage();", 1000);
        }
        
        this.hideDelMessage = function () {
            $('#deletemessage').fadeOut('slow');
        }
        
        this.showSaveMessage = function () {
            $('#savemessage').show();
            setTimeout("ui.hideSaveMessage();", 1000);
        }
        
        this.hideSaveMessage = function () {
            $('#savemessage').fadeOut('slow');
        }
        
        this.dropService = function (serviceId) {
            $.post('/services/drop/' + serviceId + '/', {}, function () {
               ui.cleanForm();
               ui.showDelMessage();
               ui.refreshServiceList(); 
            });
        }
        
        this.refreshServiceList();
    }
    
    $(document).ready(function () {
       ui = new ServiceUI({{ encounter.pk }}); 
    });
</script>
