{% load i18n services admin_static %}

<div id="service-interface">
<fieldset class="grp-module">
    <h2>{% trans "Nový výkon" %}</h2>

    <div class="grp-row cells-2 grp-cells">
        <div class="grp-cell">
            <div class="grp-column span-4"><label>{% trans "Zvolte druh výkonu:" %}</label></div>
            <div class="grp-column span-flexible">
                <select id="service-selector">
                    {% for s in service_list %}
                        {% render_service_option s encounter %}
                    {% endfor %}
                </select>
                <a class="cbutton" onclick="ui.loadForm(); return false;" style="margin-left: 20px;">{% trans "OK" %}</a>
                <span id="databasemessage" style="margin-left: 20px; font-weight: bold;"></span>
            </div>
        </div>
    </div>
    <div id="service-form-wrap"></div>
</fieldset>


<div class="grp-group grp-tabular">
    <h2>{% trans "Provedené výkony" %}</h2>
    <div class="grp-table grp-module grp-dynamic-form">
        <div class="grp-module grp-thead grp-dynamic-form">
            <div class="grp-tr">
                <div class="grp-th">{% trans "Název" %}</div>
                <div class="grp-th">{% trans "Akce" %}</div>
            </div>
        </div>
        <div class="grp-module grp-tbody grp-dynamic-form" id="done-services">

        </div>
    </div>
</div>
</div>

<script>
    var $ = grp.jQuery;
    var jQuery = grp.jQuery;
    var ui = null;
</script>

<link rel="stylesheet" href="{% static 'css/tipsy.css' %}" />
<script src="{% static 'js/jquery.tipsy.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    function ServiceUI(encounterId) {
        this.encounterId = encounterId;
        this.messageTimeout = undefined;

        this.getServiceClass = function () {
            return $('#service-selector').val();
        };

        this.getForm = function () {
            return $('#service-form');
        };

        this.refreshServiceList = function () {
           $('#done-services').load('{% url "services_list" encounter.pk %}');
        };

        this.performedServiceCount = function () {
            return $('#done-services .grp-tr').length;
        }

        this.getHandlerUrl = function (serviceId, serviceClass) {
            if (! serviceClass)
                serviceClass = this.getServiceClass();

            var url = '/services/handle-form/' + this.encounterId + '/' + serviceClass + '/';
            if (serviceId)
                return url + serviceId + '/';
            return url;
        };

        this.placeForm = function (html) {
        	$('#service-form-wrap').html(html);

            if (html != '') {
                var allFields = $('#service-form-wrap').find('select,input');
                var visibleFields = $('#service-form-wrap').find('select:visible,input:visible');

                if (visibleFields.length == 0 && allFields.length != 0) {
                    ui.saveForm();
                } else {
                    grappelli.initDateAndTimePicker();
                    $('#service-form-wrap h3 span').tipsy({gravity: 'w', html: true});
                    $('#service-form-wrap input[type="text"]:first').focus(function () { $(this).select(); }).focus();
                }
            }
        };

        this.loadForm = function (serviceId, serviceClass) {
            $.get(this.getHandlerUrl(serviceId, serviceClass), this.placeForm);
        };

        this.cleanForm = function () { this.placeForm(''); };

        this.saveForm = function () {
            var data = this.getForm().find('select,input,textarea').serialize();
            $.post(this.getForm().attr('class'), data, function (response) {
                if (response.ok) {
                    ui.showDatabaseMessage('Výkon byl uložen.');
                    ui.cleanForm();
                    ui.refreshServiceList();
                } else {
                    ui.placeForm(response.content);
                }

            }, 'json');

            return false;
        };

        this.showDatabaseMessage = function (msg) {
            if (this.messageTimeout) {
                clearTimeout(this.messageTimeout);
                $('#databasemessage').fadeIn('fast');
            }

            $('#databasemessage').text(msg);
            $('#databasemessage').show();
            this.messageTimeout = setTimeout(this.hideDatabaseMessage, 1000);
        };

        this.hideDatabaseMessage = function () {
            $('#databasemessage').fadeOut('slow');
        };

        this.dropService = function (serviceId) {
            $.post('/services/drop/' + serviceId + '/', {}, function () {
               ui.cleanForm();
               ui.showDatabaseMessage('Výkon byl smazán.');
               ui.refreshServiceList();
            });
        };

        this.refreshServiceList();
    }

    $(window).bind('beforeunload', function () {
        if (ui.performedServiceCount() == 0)
            return "!!! VAROVÁNÍ !!!: Ke kontaktu nejsou nastaveny žádné výkony!";
    });

    $(document).ready(function () {
        ui = new ServiceUI({{ encounter.pk }});
    });
</script>
