{% load i18n %}

{% for s in services_done %}
{% with s.cast as casted %}
<div class="tr">
    <div class="td"><strong>{{ s.title }}</strong></div>
    <div class="td">
        {% if casted.is_editable %}
        <a class="cbutton" onclick="ui.loadForm({{ s.pk }}, '{{ casted.class_name }}'); return false;">{% trans "Upravit" %}</a>
        {% endif %}
        <a class="cbutton  warn" onclick="ui.dropService({{ s.pk }}); return false;">{% trans "Smazat" %}</a>
    </div>
</div>
{% endwith %}
{% endfor %}