{% extends "admin/clients/person/change_form.html" %}
{% load i18n services admin_static sstatic %}

{% block extrahead %}
    {{ block.super }}
    <link href="{% sstatic 'css/clients.css' %}" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript">
        function dismissAddAnamnesisPopup(win, newId, newRepr) {
            grp.jQuery('#add_id_anamnesis').attr('href', '/clients/anamnesis/' + newId + '/');
            grp.jQuery('#add_id_anamnesis').html('{% trans "Zobrazit" %}');
            win.close();
            return false;
        }
        /**
         * Ensure, that when no primary drug is selected, no application type
         * is selected as well.
         */
        (function ($) {

            $(document).ready(function () {
                $('#id_primary_drug').change(function () {
                    if (NON_APPLICATION_DRUGS.indexOf($(this).val()) !== -1) {
                        $('.grp-cell.primary_drug_usage select').prop('disabled', true);
                    } else {
                        $('.grp-cell.primary_drug_usage select').prop('disabled', false);
                    }
                    return true;
                });
                $('#id_close_person').change();

                $('#id_birthdate_year_only').change(function () {
                    if (this.checked) {
                        $('#id_birthdate_day, #id_birthdate_month').val('1');
                        $('#id_birthdate_day, #id_birthdate_month').addClass('inactive');
                    } else {
                        $('#id_birthdate_day, #id_birthdate_month').removeClass('inactive');
                    }
                });

                $('#id_close_person').change(function () {
                    var close_person = $('#id_close_person')[0].checked;
                    if (close_person) {
                        $('#id_primary_drug, #id_primary_drug_usage').val('');
                        $("#id_primary_drug, #id_primary_drug_usage").prop('disabled', 'disabled');
                    } else {
                        $("#id_primary_drug, #id_primary_drug_usage").removeAttr("disabled")
                    }
                });
                $('#id_close_person').change();
            });
            
        })(grp.jQuery);
    </script>
{% endblock %}

{% block after_related_objects %}
    {% include "admin/clients/client/note_list.html" %}
{% endblock %}

