{% extends "admin/clients/person/change_form.html" %}
{% load i18n services %}

{% block extrahead %}
    {{ block.super }}
    <link href="{{ STATIC_URL}}css/clients.css" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript">
        function dismissAddAnamnesisPopup(win, newId, newRepr) {
            django.jQuery('#add_id_anamnesis').attr('href', '/clients/anamnesis/' + newId + '/');
            django.jQuery('#add_id_anamnesis').html('{% trans "Zobrazit" %}');
            win.close();
            return false;
        }
        /**
         * Ensure, that when no primary drug is selected, no application type
         * is selected as well.
         */
        (function ($) {

            $(document).ready(function () {
                $('#id_close_person,#id_sex_partner').change(function () {
                    var close_person = $('#id_close_person').checked == 'checked';
                    var sex_partner = $('#id_sex_partner').checked == 'checked';
                    if (close_person || sex_partner) {
                        $('#id_primary_drug option[value=""]').show();
                        $('#id_primary_drug').val('');
                    } else {
                        $('#id_primary_drug option[value=""]').hide();
                        if ($('#id_primary_drug').val() == '') {
                             $('#id_primary_drug').val($('#id_primary_drug option[value!=]:first').val());
                        }
                    }
                    $('#id_primary_drug').change();
                    return true;
                });
                $('#id_primary_drug').change(function () {
                    if ($(this).val() == '') {
                        $('#id_primary_drug_usage option[value!=]').hide();
                        $('#id_primary_drug_usage').val('');
                    } else {
                        $('#id_primary_drug_usage option[value!=]').show();
                        if ($('#id_primary_drug_usage option:selected:first').val() == "") {
                             $('#id_primary_drug_usage').val($('#id_primary_drug_usage option[value!=]:first').val());
                        }
                    }
                    return true; 
                });
                $('#id_close_person').change();
                
                $('#id_birthdate_year_only').change(function () {
                    if ($(this).attr('checked') == 'checked') {
                        $('#id_birthdate_day, #id_birthdate_month').val('1');
                        $('#id_birthdate_day, #id_birthdate_month').addClass('inactive');
                    } else {
                        $('#id_birthdate_day, #id_birthdate_month').removeClass('inactive');
                    }
                });
            });
            
        })(django.jQuery);
    </script>
{% endblock %}

{% block after_related_objects %}
    {% include "admin/clients/client/note_list.html" %}
{% endblock %}

