{% load i18n %}

{% if not add %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocsrf.js"></script>
<script type="text/javascript">
function add_new_note() {
    
    (function ($) {
        if ($('#new_note').val() == '') {
            alert('{% trans "Vyplňte prosím text poznámky." %}');
            return;
        }
        $.ajax({
            type : 'POST',
            url : '{% url admin:clients_add_note original.pk %}',
            dataType: 'json',
            data : {'text': $('#new_note').val()},
            success : function (data) {
                $('#notes div.tr').eq(0).after($('#note_template').tmpl(data));
                $('#new_note').val('');
            },
            error : function () {
                alert('{% trans "Došlo k chybě při přidávání poznámky." %}');
            }
        });
    })(django.jQuery);
}

function delete_note(link, note_id) {
    
    (function ($) {
        $.ajax({
                type : 'GET',
                url : '/clients/client/delete-note/' + note_id + '/',
                success : function (data) {
					$(link).parents('div.tr').remove();
                },
                error : function () {
                    alert('{% trans "Došlo k chybě při mazání poznámky." %}');
                }
        });
    })(django.jQuery);
}

</script>
    
<script id="note_template" type="text/x-jquery-tmpl">
<div class="tr">
    <div class="td"><p><strong>${author}</strong></p></div>
    <div class="td"><p>${datetime}</p></div>
    <div class="td wrap_lines"><p>${text}</p></div>
	<div class="td"><p><a onclick="delete_note(this, ${id}); return false;">Smazat</a></p></div>
</div>
</script>
    
<div class="group tabular" id="notes_wrap">
    <h2>{% trans "Poznámky ke klientovi" %}</h2>
    <div class="table module dynamic-form">
        <div class="module thead dynamic-form">
            <div class="tr">
                <div class="th">{% trans "Autor" %}</div>
                <div class="th">{% trans "Datum" %}</div>
                <div class="th">{% trans "Text" %}</div>
            </div>
        </div>
        <div class="module tbody dynamic-form" id="notes">
            <div class="tr">
                <div class="td">&nbsp;</div>
                <div class="td">&nbsp;</div>
                <div class="td"><textarea id="new_note" style="width: 50%; margin-right: 20px;"></textarea><input type="button" onclick="add_new_note();" value="{% trans "Přidat poznámku" %}" /></div>
				<div class="td">&nbsp;</div>
            </div>
            {% for note in original.notes.all %}
            <div class="tr">
                <div class="td"><p><strong>{{ note.author }}</strong></p></div>
                <div class="td"><p>{{ note.datetime|date:"DATETIME_FORMAT" }}</p></div>
                <div class="td wrap_lines"><p>{{ note.text }}</p></div>
				<div class="td"><p><a onclick="delete_note(this, {{ note.pk }}); return false;">Smazat</a></p></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
