<p>Cílem výkonu je zjištění možnosti výskytu infekčního onemocnění u klienta. Neoddělitelnou součástí testování je předtestové poradenství, zmapování rizikového chování klienta vzhledem k přenosu infekčních onemocnění, předání informací o infekčních nemocech, o průběhu a limitech prováděného testu, odběr biologického materiálu, samotné provedení testu a potestové poradenství, jehož součástí je zajištění konfirmačního testu a potřebné následné lékařské péče v případě pozitivního výsledku.</p>
<ul>
    <li>Hepatitida typu C</li>
    <li>Hepatitida typu B</li>
    <li>Hepatitida typu A</li>
    <li>HIV</li>
    <li>Syfilis</li>
</ul>
