<p>Výkon zahrnuje vlastní akt výměny injekčního materiálu nebo jeho součást - samostatný výdej čistého nebo příjem použitého injekčního materiálu. Nedílnou součástí výměnného programu je i nabídka standardního vybavení potřebného k bezpečné aplikaci, včetně poučení o bezpečné likvidaci použitého materiálu. Dále může být podle potřeby vydáván i jiný harm reduction materiál. Součástí výkonu je i mapování rizikového chování klienta.</p>
<p>Množství vydaného a přijatého materiálu je evidováno. Evidovat je potřeba:</p> 
<ul>
    <li><strong>jehly IN (přijaté)</strong></li>
    <li><strong>jehly OUT (vydané)</strong></li>
</ul>

<p>Harm reduction a zdravotní materiál vydávaný při výměně injekčního materiálu:</p>
<ul>
    <li>harm reduction (filtry, dezinfekční tampony, sterilní voda, Stéricup, kapsle, škrtidlo, kyselina askorbová, alobal)</li>
    <li>zdravotní materiál (náplasti, vitamíny, léčebná mast, prezervativy)</li>
    <li>těhotenský test</li>
</ul>
