<p>informace jsou podávány výhradně na základě vyjádřeného zájmu klienta. Odpovídají povaze situace, stavu klienta a možnostem pracovníka. Pracovník může poskytnutí určité informace odmítnout, bude-li v rozporu s jeho přesvědčením o vhodnosti dané informace a její užitečnosti pro klienta.</p> 
<p>Jedná se o informace:</p>
<ul>
    <li>O bezpečnějším užívání drog</li>
    <li>O zdravotní oblasti</li>
    <li>O bezpečnějším sexu</li>
    <li>O sociálně-právní oblasti</li>
    <li>O možnostech léčby</li>
    <li>Jiné specifické informace, které nelze zařadit do žádné z předcházejících kategorií</li>
</ul>