{% load i18n form_utils_tags %}
<h3><span title="{% if service.service.get_description %}{{ service.service.get_description }}{% endif %}">{{ service.service.title }}</span></h3>

<div id="service-form" class="{{ action_link }}">
    {% block rendered_form %}
        {{ form|render:"services/inc/inline_better_form.html" }}
    {% endblock %}
    <div class="row cells-2 cells">
        <div class="cell">
            <a id="service-form-submit" onclick="ui.cleanForm(); return false;" class="cbutton">{% trans "Storno" %}</a>
            <a id="service-form-submit" onclick="ui.saveForm(); return false;" class="cbutton high1">{% trans "Uložit výkon" %}</a>
            {% if is_edit %}
                <a class="cbutton warn" onclick="ui.dropService({{ obj.pk }}); return false;">{% trans "Smazat výkon" %}</a>
            {% endif %}
        </div>
    </div>
</div>

{{ form.media }}
