{% load i18n form_utils_tags %}
<h3>{{ service.service.title }}</h3>

{% if service.service.get_description %}
<div class="row cells-1 cells">
    <div class="cell">
        <div class="column span-flexible service-description">
            {{ service.service.get_description }}
        </div>
    </div>
</div>
{% endif %}

<form id="service-form" action="{{ action_link }}" method='POST'>
    {% block rendered_form %}
        {{ form|render:"services/inc/inline_better_form.html" }}
    {% endblock %}
    <div class="row cells-2 cells">
        <div class="cell">
            <button id="service-form-submit" onclick="ui.saveForm(); return false;">{% trans "Uložit výkon" %}</button>
            {% if is_edit and obj.is_editable %}
            <button class="warn" onclick="ui.dropService({{ obj.pk }}); return false;">{% trans "Smazat výkon" %}</button>
            {% endif %}
        </div>
    </div>
</form>

{{ form.media }}
