{% extends "services/forms/small_cells.html" %}

{% block rendered_form %}
	{{ block.super }}

	{# The following snippet handles disabling/enabling of test parameters input fields. #}
    <script type="text/javascript">
		function set_editability () {
			if (!$('#id_test_execution').is(':checked')) {
				$('#id_disease').val("");
				$('#id_disease').attr("disabled", "disabled");
				$('#id_sign').val("");
				$('#id_sign').attr("disabled", "disabled");
			} else {
				$('#id_disease').removeAttr("disabled");
				$('#id_sign').removeAttr("disabled");
			}
		}
        $(document).ready(function () {
			set_editability();
			$('#id_test_execution').change(set_editability);
        });
    </script>
{% endblock %}
