{% load i18n grp_tags %}

<div id="grp-navigation">
    <h1 id="grp-admin-title">{% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}</h1>
    {% if user.is_authenticated and user.is_staff %}
        <ul id="grp-user-tools">
            <!-- Userlinks -->
            {% block userlinks %}
                <!-- Username -->
                <li class="grp-user-options-container grp-collapse grp-closed {% if request.session.original_user %}grp-switch-user-is-target{% endif %}">
                    <a href="javascript://" class="user-options-handler grp-collapse-handler {% if request.session.original_user %}grp-switch-user-is-target{% else %}grp-switch-user-is-original{% endif %}">{% filter force_escape %}{% firstof user.first_name user.username user.get_short_name user.get_username %}{% endfilter %}</a>
                    <ul class="grp-user-options">
                        <!-- Change Password -->
                        {% if user.has_usable_password %}
                            {% url 'admin:password_change' as password_change_url %}
                            {% if password_change_url %}
                                <li><a href="{{ password_change_url }}" class="grp-change-password">
                            {% else %}
                                <li><a href="{{ root_path }}password_change/" class="grp-change-password">
                            {% endif %}
                            {% trans 'Change password' %}</a></li>
                        {% endif %}
                        <!-- Logout -->
                        {% url 'admin:logout' as logout_url %}
                        {% if logout_url %}
                            <li><a href="{{ logout_url }}" class="grp-logout">
                        {% else %}
                            <li><a href="{{ root_path }}logout/" class="grp-logout">
                        {% endif %}
                        {% trans 'Log out' %}</a></li>
                    </ul>
                </li>
                <!-- JS tests -->
                {% url 'test-index' as testindexurl %}
                {% if testindexurl %}
                    <li><a href="{{ testindexurl }}">{% trans 'Tests' %}</a></li>
                {% endif %}
            {% endblock %}

            <li class="search">
                <span>Vyhledat klienta:</span>
                <form>
                <div class="autocomplete-wrapper-fk">
                    <input id="id_globalsearch_client" class="vForeignKeyRawIdAdminField" type="text" value="" name="globalsearch_client">
                    <a id="lookup_id_globalsearch_client" class="related-lookup" href="{% url 'admin:clients_client_changelist' %}" style="display: none;"></a>
                </div>
                </form>
            </li>
        </ul>
    {% endif %}
    <!-- Nav-Global -->
    {% block nav-global %}{% endblock %}
</div>

<script type="text/javascript" charset="utf-8">
    (function($) {
        function ClientSearch() {
            var self = this;

            self.searchElement = $('#id_globalsearch_client');
            self.lookupElement = $('#lookup_id_globalsearch_client');

            self.init = function () {
                self.searchElement.grp_autocomplete_fk({
                    lookup_url:"/grappelli/lookup/related/",
                    autocomplete_lookup_url:"/grappelli/lookup/autocomplete/"
                });

                self.lookupElement.unbind('click').click(function () {
                    if (self.searchElement.val()) {
                        self.goToClient(self.searchElement.val());
                    };
                    return false;
                });

                /* autocomplete creates this field */
                $('#id_globalsearch_client-autocomplete').bind('autocompleteselect', function (event, ui) {
                    self.goToClient(ui.item.value);
                    return true;
                });
            };

            self.goToClient = function (id) {
                document.location = '/clients/client/' + id + '/';
            };
        };

         $(document).ready(function() {
            (new ClientSearch()).init();
        });
    })(grp.jQuery);
</script>
