{% load i18n grp_tags %}

<div id="header">
    <div class="branding">&nbsp;</div>
    <!-- Title -->
    <div class="admin-title">{% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}</div>
    {% if user.is_authenticated and user.is_staff %}
        <ul id="user-tools">
            <!-- Username -->
            <li class="user-options-container collapse closed">
                <a href="javascript://" class="user-options-handler collapse-handler">{% firstof user.first_name user.username %}</a>
                <ul class="user-options">
                    <!-- Change Password -->
                    {% url admin:password_change as password_change_url %}
                    {% if password_change_url %}
                        <li><a href="{{ password_change_url }}">
                    {% else %}
                        <li><a href="{{ root_path }}password_change/">
                    {% endif %}
                    {% trans 'Change password' %}</a></li>
                    <!-- Logout -->
                    {% url admin:logout as logout_url %}
                    {% if logout_url %}
                        <li><a href="{{ logout_url }}">
                    {% else %}
                        <li><a href="{{ root_path }}logout/">
                    {% endif %}
                    {% trans 'Log out' %}</a></li>
                </ul>
            </li>
            <!-- Userlinks -->
            {% block userlinks %}
                <!-- JS tests -->
                {% url test-index as testindexurl %}
                {% if testindexurl %}
                    <li><a href="{{ testindexurl }}">{% trans 'Tests' %}</a></li>
                {% endif %}
            {% endblock %}
            
            <li class="search">
                <span>Vyhledat klienta:</span>
                <form>
                <div class="autocomplete-wrapper-fk">
                    <input id="id_globalsearch_client" class="vForeignKeyRawIdAdminField" type="text" value="" name="globalsearch_client">
                    <a id="lookup_id_globalsearch_client" class="related-lookup" href="{% url admin:clients_client_changelist %}?t=id">
                        <img width="16" height="16" alt="Hledat" src="/static/grappelli/img/admin/selector-search.gif">
                    </a>
                </div>
                </form>
            </li>
        </ul>
    {% endif %}
    {% block nav-global %}
    {% endblock %}
</div>

<script type="text/javascript" charset="utf-8">
    (function($) {
        function ClientSearch() {
            var self = this;

            self.searchElement = $('#id_globalsearch_client');
            self.lookupElement = $('#lookup_id_globalsearch_client');
            
            self.init = function () {
                self.searchElement.grp_autocomplete_fk({
                    lookup_url:"/grappelli/lookup/related/",
                    autocomplete_lookup_url:"/grappelli/lookup/autocomplete/"
                });
                
                self.lookupElement.unbind('click').click(function () {
                    if (self.searchElement.val()) {
                        document.location = '/clients/client/' + self.searchElement.val() + '/';    
                    }; 
                    return false;
                });
                
                /* autocomplete creates this field */
                $('#id_globalsearch_client-autocomplete').bind('autocompleteselect', function (event, ui) {
                    self.goToClient(ui.item.value);
                    return true;
                });
            };
            
            self.goToClient = function (id) {
                document.location = '/clients/client/' + id + '/';
            };
        };
        

        $(document).ready(function() {
            $("div#header .collapse").grp_collapsible();
            (new ClientSearch()).init();
        });
    })(django.jQuery);
</script>