{% load admin_static %}{% load i18n grp_tags classification %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link href="{% static "grappelli/jquery/ui/jquery-ui.min.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "grappelli/stylesheets/screen.css" %}" rel="stylesheet" type="text/css" media="all" />
        {% if LANGUAGE_BIDI %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output-rtl.css" %}" rel="stylesheet" type="text/css" media="screen" />
            <link href="{% block stylesheet_rtl %}{% static "grappelli/stylesheets/rtl.css" %}{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
        {% else %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output.css" %}" rel="stylesheet" type="text/css" media="screen" />
        {% endif %}
    {% endblock %}
    <!-- EXTRASTYLES -->
    {% block extrastyle %}{% endblock %}
    <!-- JAVASCRIPTS -->
    {% block javascripts %}
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "grappelli/" %}{% endfilter %}";</script>
        <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
        <script type="text/javascript" charset="utf-8">
            // GLOBALS
            var grappelli = {},
                ADMIN_URL = "{% url 'admin:index' %}",
                MODEL_URL_ARRAY = {% if user.is_staff %}{% get_content_types %}{% else %}[]{% endif %},
                DATE_FORMAT = "{% get_date_format %}",
                TIME_FORMAT = "{% get_time_format %}",
                DATETIME_FORMAT = "{% get_datetime_format %}";
        </script>
        <!-- jQuery, jQuery-UI -->
        <script src="{% static "grappelli/jquery/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "grappelli/jquery/ui/jquery-ui.min.js" %}" type="text/javascript"></script>
        {% if debug %}
            <!-- Grappelli Main JS -->
            <script src="{% static "grappelli/js/grappelli.js" %}" type="text/javascript"></script>
            <!-- Grappelli jQuery Plugins, Widgets -->
            <script src="{% static "grappelli/js/jquery.grp_collapsible.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_collapsible_group.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_timepicker.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_inline.js" %}" type="text/javascript"></script>
        {% else %}
            <!-- Grappelli Minified -->
            <script src="{% static "grappelli/js/grappelli.min.js" %}" type="text/javascript"></script>
        {% endif %}

        <script type="text/javascript" charset="utf-8">
            var jQuery = grp.jQuery.noConflict(true);

            (function($) {
                $(document).ready(function() {
                    $("#grp-navigation .grp-collapse").grp_collapsible();
                })
            })(grp.jQuery);

            // Custom added ----
            jQuery.getScript("{% static 'grappelli-ext/jquery/i18n/ui.datepicker-cs.js' %}");
            var NON_APPLICATION_DRUGS = {% get_non_application_drugs %};

            function parseItemId(elemId) {
                // id_drugusage_set-2-application > 2
                var split = elemId.split('-');
                if (split.length != 3) return '';
                return split[1];
            }
            (function($) {
                $(document).ready(function() {
                    if (location.pathname.indexOf('/clients/anamnesis/') !== -1) {
                        $('.grp-cell.drug select').change(function () {
                            var elemId = $(this)[0].id;
                            var id = parseItemId(elemId);

                            if (NON_APPLICATION_DRUGS.indexOf($(this).val()) !== -1) {
                                $('#drugusage_set' + id + ' .grp-cell.application select').prop('disabled', true);
                                $('#drugusage_set' + id + ' .grp-cell.first_try_application select').prop('disabled', true);
                            } else {
                                $('#drugusage_set' + id + ' .grp-cell.application select').prop('disabled', false);
                                $('#drugusage_set' + id + ' .grp-cell.first_try_application select').prop('disabled', false);
                            }
                            return true;
                        });
                        $('.grp-cell.drug select').change();
                    }
                });
            })(grp.jQuery);
        </script>
    {% endblock %}

    <!-- EXTRAHEAD -->
    {% block extrahead %}{% endblock %}
</head>
<body class="{% if is_popup %}grp-popup {% endif %}{% block bodyclass %}{% endblock %}{% if LANGUAGE_BIDI %} rtl{% endif %}">
    <div id="grp-container">
        <!-- HEADER -->
        <header id="grp-header" class="{% block header-class %}{% endblock %}">
            {% if not is_popup %}
                {% include "admin/includes_grappelli/header.html" %}
                <!-- SITEMENU -->
                {% block sitemenu %}
                    {% include "sitemenu.html" %}
                {% endblock %}
            {% endif %}
        </header>

        <!-- CONTENT -->
        <article id="grp-content" class="{% block content-class %}{% endblock %}">

            <!-- MESSAGES -->
            {% block messages %}
                {% if messages %}
                    <ul class="grp-messagelist">
                        <!-- NOTE: no message|capfirst by purpose, because it does not work in some languages -->
                        {% for message in messages %}
                            <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}

            <!-- CONTENT TITLE -->
            <header id="grp-content-title">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block object-tools %}{% endblock %}
            </header>

            <!-- CONTENT-CONTAINER -->
            <div id="grp-content-container">
                {% block content %}
                    {{ content }}
                    {% block filters %}{% endblock %}
                {% endblock %}
            </div>

        </article>

        <!-- FOOTER -->
        {% block footer %}{% endblock %}
    </div>
</body>
</html>
