{% extends "admin/base.html" %}
{% load i18n grp_tags %}
{% load admin_static sstatic %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% sstatic 'css/custom.css' %}" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="{% sstatic 'css/sitemenu.css' %}" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="{% sstatic 'css/print.css' %}" rel="stylesheet" type="text/css" media="print" />
    {% if is_popup %}
        <link href="{% sstatic 'css/popup.css' %}" rel="stylesheet" type="text/css" />
    {% endif %}
    {% if not user.is_authenticated %}
        <link href="{% sstatic 'css/login.css' %}" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block title %}{{ title }} | {% trans 'BorIS' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'BorIS' %}</h1>
{% endblock %}

