{% load i18n %}
<footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <ul>
        {% autoescape off %}
        {% if show_delete_link %}
            <li class="grp-float-left"><a href="delete/" class="grp-button grp-delete-link">{% if delete_caption %}{% trans delete_caption %}{% else %}{% trans "Delete" %}{% endif %}</a></li>
        {% endif %}
        {% if show_save %}<li><input type="submit" value="{% if save_caption %}{% trans save_caption %}{% else %}{% trans 'Save' %}{% endif %}" class="grp-button grp-default" name="_save"/></li>{% endif %}
        {% if show_save_and_continue %}<li><input type="submit" value="{% if save_and_cont_caption %}{% trans save_and_cont_caption %}{% else %}{% trans 'Save and continue editing' %}{% endif %}" class="grp-button {% if not show_save %}grp-default{% endif %}" name="_continue"/></li>{% endif %}
        {% if show_save_as_new %}<li><input type="submit" value="{% if save_as_new_caption %}{% trans save_as_new_caption %}{% else %}{% trans 'Save as new' %}{% endif %}" class="grp-button" name="_saveasnew"/></li>{% endif %}
        {% if show_save_and_add_another %}<li><input type="submit" value="{% if save_and_add_another_caption %}{% trans save_and_add_another_caption %}{% else %}{% trans 'Save and add another' %}{% endif %}" class="grp-button" name="_addanother"/></li>{% endif %}
        {% endautoescape %}
    </ul><br clear="all" />
</footer>