button.warn { background: -moz-linear-gradient(center top , #D93636, #BF3030) repeat scroll 0 0 transparent; }
button.small { font-size: 11px; font-weight: bold; padding: 0 2px; line-height:20px; height: 21px; vertical-align: middle; }

.service-description * { white-space: normal; font-size: 90%; }
.service-description p { margin: 0 0 5px !important; }
.service-description p:last-child { margin: 0 !important; }
.service-description ul, .service-description li { list-style: disc; }
.service-description ul { margin-left: 30px; }
.saveinfo { width: auto; margin: auto; }

#nav {
    position: fixed;
    left: 0;
    top: 40px;
    height: 33px;
    width: 100%;
    z-index: 1000;
    
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}

#header li.search {
    width: auto;
}
#header li.search span {
    display: block;
    float: left;
    margin-right: 20px; 
}
#header li.search input {
    float: left;
    width: 200px;
    height: 25px;
}

/* GRAPPELLI OVERRIDES */
body { padding: 98px 20px 0; }

#header { height: 40px; line-height: 24px; }

div#breadcrumbs { top: 73px; z-index: 999; }
