{% extends "admin/change_form.html" %}

{% block after_related_objects %}

	<script type="text/javascript">
		function add_new_note() {
			var note_text = django.jQuery('#new_note').val();
            django.jQuery.ajax({
                type : 'POST',
                url : '/clients/add-note/',
                dataType: 'json',
                data : {'text': note_text, 'client': '{{ object_id }}'},
                success : function (response) {
					var p1 = response['author'] + ', ' + response['datetime'];
					var p2 = response['text']
					django.jQuery('#notes').prepend('<li class="note"><p>' + p1 + '</p><p>' + p2 + '</p></li>');
					django.jQuery('#new_note').val('');
                },
                error : function () {
                	alert('Došlo k chybě při přidávání poznámky.');
                }
            });
		}
    	</script>

	<div class="notes_wrap">
		<h2>Poznámky ke klientovi</h2>

		<textarea id="new_note"></textarea>
		<input type="button" value="Přidat poznámku" onclick="add_new_note();"/>

		<ul id="notes">
		{% for clientnote in clientnotes %}
			<li class="note">
				<p>{{ clientnote.author }}, {{ clientnote.datetime|date:"d.m.Y H:i" }}</p>
				<p>{{ clientnote.text }}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}

