button.warn {
    background: -moz-linear-gradient(center top , #D93636, #BF3030) repeat scroll 0 0 transparent;
}
button.small {
    font-size: 11px;
    font-weight: bold;
    padding: 0 2px;
    line-height: 20px;
    height: 21px;
    vertical-align: middle;
}

a.cbutton {
    display: inline-block;
    padding: 4px 8px;
    -moz-box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    border: 0;
    font-weight: bold;
    background: -moz-linear-gradient(center top , #33A6CC, #309BBF) repeat scroll 0 0 #309BBF;
    background: -webkit-linear-gradient(top , #33A6CC, #309BBF) repeat scroll 0 0 #309BBF;
    background: -o-linear-gradient(top , #33A6CC, #309BBF) repeat scroll 0 0 #309BBF;
}
a.cbutton.warn {
    background: -moz-linear-gradient(center top , #D93636, #BF3030) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top , #D93636, #BF3030) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(top , #D93636, #BF3030) repeat scroll 0 0 transparent;
}
a.cbutton.high1 {
    background: -moz-linear-gradient(center top , #7553D1, #734EC4) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top , #7553D1, #734EC4) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(top , #7553D1, #734EC4) repeat scroll 0 0 transparent;
}
a.cbutton:hover {
    background: -moz-linear-gradient(center top , #555555, #444444) repeat scroll 0 0 #666666;
    background: -webkit-linear-gradient(top , #555555, #444444) repeat scroll 0 0 #666666;
    background: -o-linear-gradient(top , #555555, #444444) repeat scroll 0 0 #666666;
}
.row.cells.submit-right .cell { float: right; }

#changelist table a.cbutton { margin: 0 5px 0 0; }
#changelist table:last-child { margin: 0; }

.service-description * { white-space: normal; font-size: 90%; }
.service-description p { margin: 0 0 5px !important; }
.service-description p:last-child { margin: 0 !important; }
.service-description ul, .service-description li { list-style: disc; }
.service-description ul { margin-left: 30px; }
.saveinfo { width: auto; margin: auto; }

#header li.search {
    width: 300px;
}
#header li.search span {
    display: block;
    float: left;
    margin-right: 20px; 
}
#header li.search input {
    float: left;
    width: 185px;
    height: 25px;
}

#header .admin-title .highlight { color: #7DD6ED; }

/* GRAPPELLI OVERRIDES */
body { padding: 68px 20px 0; }
fieldset.module .cell { float:left; }
ul.messagelist { top: 5px; }

#header { height: 40px; line-height: 24px; }

#changelist .changelist-results table td, #changelist .changelist-results table th { padding: 5px 30px 5px 10px; } 

/* TAB fix */
.ui-tabs-nav { border: 0 !important; }
.ui-tabs-panel.ui-widget-content { border: 0 !important; }
.ui-tabs-panel fieldset.module { border-radius: 0 5px 5px 5px; }
