{% load i18n services admin_static static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css"/>
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>


<h1>Počet kontaktů</h1>
<div id="encounters" class="ct-chart">
    <script>
        new Chartist.Bar('#encounters', {
            labels: ["{{ dashboard.months | join:'","'}}"],
            series: [
                {{ dashboard.encounters | safe }},
            ]
        }, {
            fullWidth: true,
        });
    </script>
</div>

<h1>Počet nových klientů</h1>
<div id="persons" class="ct-chart">
    <script>
        new Chartist.Bar('#persons', {
            labels: ["{{ dashboard.months | join:'","'}}"],
            series: [
                {{ dashboard.persons | safe }},
            ]
        }, {
            fullWidth: true,
        });
    </script>
</div>

<h1>Počet vyměněných stříkaček</h1>
<div id="syringes" class="ct-chart">
    <script>
        new Chartist.Bar('#syringes', {
            labels: ["{{ dashboard.months | join:'","'}}"],
            series: [
                {{ dashboard.syringe | safe }},
            ]
        }, {
            fullWidth: true,
        });
    </script>
</div>
