{% load i18n services admin_static static humanize %}

<link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css"/>


<div class="info_box">
    <h2 class="info">První záznam v databázi</h2>
    <p class="info_data">{{ dashboard.first_contact.performed_on }}</p>
</div>

<div class="info_box">
    <h2 class="info" >Počet klientů od prvního záznamu</h2>
    <p class="info_data">{{ dashboard.all_clients }} Klientů</p>
</div>

<div  class="info_box">
    <h2 class="info">Počet vydaných stříkaček</h2>
    <p class="info_data">{{ dashboard.count_syringe | intcomma }} ks</p>
</div>

<div class="info_box">
    <h2 class="info">TOP5 klientů podle počtu kontaktů</h2>
    <ol>
        {% for client in dashboard.top_clients_by_enc %}
            <li class="info_data"><a href="{% url 'admin:clients_client_change' client.id %}">{{ client }} ({{ client.enc_count }})</a></li>
        {% endfor %}
    </ol>
</div>
<div class="info_box">
    <h2 class="info">TOP5 klientů podle rozdílu stříkaček</h2>
    <ol>
        {% for client in dashboard.top_clients_by_syringe_diff %}
            <li class="info_data"><a href="{% url 'admin:clients_client_change' client.id %}">{{ client }} ({{ client.num_diff }})</a></li>
        {% endfor %}
    </ol>
</div>
