{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content-class %}content-flexible{% endblock %}

{% block breadcrumbs %}{% comment %}<div id="breadcrumbs"><a href="../">{% trans 'Home' %}</a></div>{% endcomment %}{% endblock %}
{% block content_title %}&nbsp;{% endblock %}

{% block content %}
    <div class="container-flexible logout">
        <div class="grp-column span-10 grp-centered">
            <div class="grp-module">
                <h2>{{ title }}, </h2>
                <div class="grp-row"><a href="../"><strong>{% trans 'Log in again' %}</strong></a></div>
            </div>
        </div>
    </div>
{% endblock %}
